{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="container">
        {% include "_components/browse_button.html.twig" with {
            'ru': path('tests.view', {slug: form.vars.value.slug, _locale: 'ru'}),
            'en': path('tests.view', {slug: form.vars.value.slug, _locale: 'en'}),
        } %}

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('admin') }}">Панель управления</a></li>
                <li class="breadcrumb-item"><a href="{{ path('admin.tests') }}">Тесты</a></li>
                <li class="breadcrumb-item active">{{ title }}</li>
            </ol>
        </nav>

        <h1>{{ title }}</h1>

        {{ form_errors(form) }}

        {{ form_start(form) }}
        <div class="row">
            <div class="col">{{ form_row(form.name, {label: 'Название RU'}) }}</div>
            <div class="col">{{ form_row(form.nameEn, {label: 'Название EN'}) }}</div>
        </div>
        <div class="row">
            <div class="col">{{ form_row(form.description, {label: 'Описание RU'}) }}</div>
            <div class="col">{{ form_row(form.descriptionEn, {label: 'Описание EN'}) }}</div>
        </div>
        <div class="row">
            <div class="col">{{ form_row(form.annotation, {label: 'Описание в списке RU'}) }}</div>
            <div class="col">{{ form_row(form.annotationEn, {label: 'Описание в списке EN'}) }}</div>
        </div>

        Я не понимаю как оно должно выглядеть.
        Как в курсах - "добавить профессию" - выбираешь из списка и добавляется.
        Либо как в статьях - теги.

        {#        <h3>Авторы</h3> #}
        {#        <ul class="authors" #}
        {#            data-index="{{ form.authors|length > 0 ? form.authors|last.vars.name + 1 : 0 }}" #}
        {#            data-prototype="{{ form_widget(form.authors.vars.prototype)|e('html_attr') }}"> #}
        {#            {% for author in form.authors %} #}
        {#                <li>{{ form_row(author.name) }}</li> #}
        {#            {% endfor %} #}
        {#        </ul> #}
        {#        <button type="button" class="add_item_link" data-collection-holder-class="authors">+ Добавить автора</button> #}


        {{ form_end(form) }}
    </div>
{% endblock %}
