{% extends 'base.html.twig' %}

{% block title %}{{ catalog.metaTitle(app.request.locale) }}{% endblock %}
{% block description %}{{ catalog.metaDescription(app.request.locale) }}{% endblock %}

{% block body %}
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('articles.index') }}">{{ 'Статьи'|trans }}</a></li>
            </ol>
        </nav>
        <div class="row">
            <div class="col-9">
                <h1 class="mb-4">{{ catalog.name(app.request.locale) }}</h1>
                {% include "/articles/_articles.html.twig" with {'articles': articles} %}
            </div>
            <div class="col mt-4 mt-lg-0">
                <h6>{{ 'Категории'|trans }}</h6>
                {% include "/articles/_catalogs.html.twig" with {'catalogs': catalogs} %}
            </div>
        </div>
    </div>
{% endblock %}
