{% extends 'base.html.twig' %}

{% block title %}Статьи{% endblock %}

{% block body %}
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('admin') }}">Панель управления</a></li>
                <li class="breadcrumb-item active">Статьи</li>
            </ol>
        </nav>

        <h1>Статьи</h1>

        <div class="mb-4">
            <a href="{{ path('admin.articles.create') }}" class="btn btn-sm btn-primary">Добавить статью</a>
        </div>

        <div>
            Всего: {{ pagination.getTotalItemCount }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'Id', 'a.id') }}</th>
                <th{% if pagination.isSorted('a.name') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(pagination, 'Название', 'a.name') }}
                </th>
                <th>Каталог</th>
                <th>RU</th>
                <th>EN</th>
                <th>Действие</th>
            </tr>
            </thead>
            {% for article in pagination %}
                <tr>
                    <td>{{ article.id }}</td>
                    <td>{{ article.name }}</td>
                    <td>{{ article.catalog }}</td>
                    <td>{% include "_components/bool.html.twig" with {'value': article.active} %}</td>
                    <td>{% include "_components/bool.html.twig" with {'value': article.activeEn} %}</td>
                    <td>{% include "_components/grid_action.html.twig" with {
                            'browse': path('articles.view', {slug: article.slug}),
                            'edit': path('admin.articles.edit', {id: article.id})
                        } %}</td>
                </tr>
            {% endfor %}
        </table>

        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}
