{% extends('tests/result.html.twig') %}

{% block result %}
    <style>
        @media (max-width: 768px) {
            .result_table td {
                display: block;
            }
        }
        @media (min-width: 769px) {
            .result_table td {
                width: 50%
            }
        }
    </style>
    <div class="container">
        <table class="table result_table">
            <tr>
                <td>Человек-человек</td>
                <td>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: {{ human.percentage }}%;"
                             aria-valuenow="{{ human.percentage }}" aria-valuemin="0"
                             aria-valuemax="100">{{ human.percentage }}%
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Человек-техника</td>
                <td>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: {{ technic.percentage }}%;"
                             aria-valuenow="{{ technic.percentage }}" aria-valuemin="0"
                             aria-valuemax="100">{{ technic.percentage }}%
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Человек-природа</td>
                <td>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: {{ nature.percentage }}%;"
                             aria-valuenow="{{ nature.percentage }}" aria-valuemin="0"
                             aria-valuemax="100">{{ nature.percentage }}%
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Человек-знаковая система</td>
                <td>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: {{ sign.percentage }}%;"
                             aria-valuenow="{{ sign.percentage }}" aria-valuemin="0"
                             aria-valuemax="100">{{ sign.percentage }}%
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Человек-художественный образ</td>
                <td>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: {{ artist.percentage }}%;"
                             aria-valuenow="{{ artist.percentage }}" aria-valuemin="0"
                             aria-valuemax="100">{{ artist.percentage }}%
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        <h2>Расшифровка типов</h2>
        <h4>Человек-человек</h4>
        <p>Труд людей этой группы профессий связан с:</p>
        <ul>
            <li>воспитанием, обучением, тренировкой других людей (воспитатель дошкольных учреждений, детских домов,
                преподаватель в школах и других учебных заведениях, мастер производственного обучения, тренер по спорту и др.);
            </li>
            <li>медицинским обслуживанием людей и уходом за ними (врач, зубной техник, медицинская сестра);</li>
            <li>правовой помощью (судья, адвокат, юрисконсульт, работник милиции и т.д.);</li>
            <li>организацией людей, руководством и управлением ими (администратор, менеджер и пр.);</li>
            <li>изучением, описанием, исследованием других людей (социолог, психолог, журналист, следователь и пр.).</li>
        </ul>
        <h4>Человек-техника</h4>
        <p>Труд людей этой группы профессий связан с:</p>
        <ul>
            <li>преобразованием деталей, изделий, механизмов (изготовление деталей, машин, механизмов вручную, на станках и
                автоматических линиях, слесарно-сборочные работы, монтажные и электромонтажные, строительно-отделочные, работы
                по добыче и переработке промышленного сырья, изготовление пищевых продуктов);
            </li>
            <li>обслуживанием технических объектов (наладка и обслуживание оборудования, управление станками, машинами,
                механизмами, транспортными средствами и строительными машинами);
            </li>
            <li>восстановлением (восстановление и ремонт технического оборудования, изделий);</li>
            <li>изучением (контроль и анализ качества изделий и механизмов, испытание качества изделий).</li>
        </ul>
        <h4>Человек-природа</h4>
        <p>Труд людей этой группы профессий связан с:</p>
        <ul>
            <li>преобразованием, переработкой (садовник, технолог пищевой промышленности, рыбообработчик и пр.);</li>
            <li>обслуживанием, охраной флоры и фауны (работник лесного хозяйства, цветовод, птицевод, животновод и пр.);</li>
            <li>заготовкой продуктов, эксплуатацией природных ресурсов (охотник, рыбак, лесоруб, агроном, зоотехник и пр.);</li>
            <li>восстановлением, лечением (ветеринар, эколог, лесовод и пр.);</li>
            <li>изучением, описанием, изысканием (генетик, геолог, ботаник, зоолог, метролог и пр.).</li>
        </ul>
        <h4>Человек-знаковая система</h4>
        <p>Труд людей этой группы профессий связан с:</p>
        <ul>
            <li>преобразованием, расчетом, сортировкой (бухгалтер, экономист, почтальон и пр.);</li>
            <li>шифровкой, дешифровкой, распознаванием символов (стенографист, радист, лингвист, филолог, историк, математик,
                библиотекарь и пр.);
            </li>
            <li>управлением движения (диспетчер, инспектор ГИБДД и пр.);</li>
            <li>составлением и хранением документации (нотариус, архивариус, делопроизводитель и пр.);</li>
            <li>восстановлением, устранением искажений (корректор, редактор и пр.).</li>
        </ul>
        <h4>Человек—художественный образ</h4>
        <p>Труд людей этой группы профессий связан с:</p>
        <ul>
            <li>преобразованием, созданием (архитектор, дизайнер, скульптор, модельер, художник, режиссер, композитор и пр.);
            </li>
            <li>исполнением, изготовлением изделий по образцу в единичном экземпляре (дирижер, музыкант, вокалист, актер,
                ювелир, реставратор, оформитель и пр.);
            </li>
            <li>с воспроизведением, копированием, размножением художественных произведений (мастер по росписи, шлифовщик по
                камню, маляр и пр.).
            </li>
        </ul>
    </div>
{% endblock %}