{#{% extends('tests/result.html.twig') %}#}

{% block result %}
    <div class="mt-2 mb-2">
        {% if sum >= 0 and sum <= 13 %}
            <h4>Мобильный</h4>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: {{ percentage }}%;"
                     aria-valuenow="{{ percentage }}" aria-valuemin="0" aria-valuemax="100">{{ sum }} из 48
                </div>
            </div>
            <p>Человек психологически мобильный отличается уверенностью в себе, но чувствительностью к невзгодам,
                способностью к импульсивным действиям. Психологически мобильных людей отличает полнота их погружения в
                процесс общения, легкая концентрация внимания, торопливость речи и манера торопить собеседника с ответом,
                перебивать, пытаясь закончить фразу вместо него. В общении с таким собеседником рекомендуется переключать
                его внимание на другие темы, опираться на ассоциативное мышление, выбирать совместные решения из широкого
                круга возможных.</p>
        {% endif %}
        {% if sum >= 14 and sum <= 27 %}
            <h4>У вас проявляются черты ригидности и мобильности</h4>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: {{ percentage }}%;"
                     aria-valuenow="{{ percentage }}" aria-valuemin="0" aria-valuemax="100">{{ sum }} из 48
                </div>
            </div>
            <p>Свойство "ригидность-мобильность" или "консервативность-пластичность" характеризует быстроту приспособления
                человека к изменяющейся ситуации. Понятие "ригидность" сродни понятию "персеверация". Они обозначают
                неподатливость изменениям, вводимым новациям, слабую переключаемость с одного вида работы на другой.
                Пластичность, наоборот, означает легкую податливость изменениям ситуации, легкую смену установок и
                суждений.</p>
        {% endif %}
        {% if sum >= 28 and sum <= 48 %}
            <h4>Ригидный</h4>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: {{ percentage }}%;"
                     aria-valuenow="{{ percentage }}" aria-valuemin="0" aria-valuemax="100">{{ sum }} из 48
                </div>
            </div>
            <p>Человека ригидного характеризует, с одной стороны — стремление к активной деятельности, с другой —
                психологическая зависимость от окружающих, трудности в принятии самостоятельных решений и сомнение в их
                правильности. В общении людям такого типа требуется время для вхождения в беседу и для переключения на новые
                темы, их речь медлительна и вдумчива, мысли излагаются логично, точно, понятно для собеседника, без
                отвлечений на взаимосвязанные вопросы. Они склонны уточнять уже совместно принятые решения и их детали.
                Общение с таким партнером требует предельной внимательности к логике его рассуждений, отсутствия какой бы то
                ни было попытки поторопить или перебить. Важное значение для успешности диалога имеет краткое итоговое
                резюме обсужденных вопросов.</p>
        {% endif %}
    </div>

    <h3>Психическая (психологическая) ригидность.</h3>
    <ul>Описано несколько видов ригидности (персеверации):
        <li>сенсорная (ощущение остается долгое время после прекращения действия стимула, его вызвавшего);</li>
        <li>моторная (трудность переделки двигательных навыков);</li>
        <li>эмоциональная (переживание события продолжается после исчезновения эмоциогенных стимулов);</li>
        <li>мышления (инерция суждений, способов решения задач);</li>
        <li>мнемическая (навязчивость представлений, вторичных образов).</li>
    </ul>
    <p>Считается, что разные виды ригидности не связаны между собой единым фактором, так как нет корреляций между степенями
        их выраженности. Это означает, что, будучи ригидным по одному проявлению, человек оказывается пластичным по другому.
        Однако общим для всех видов ригидности компонентом может быть инертность нервных процессов. В основе ригидности —
        недостаточно развитая переключаемость процессов возбуждения и торможения центральной нервной системы.</p>
    <p>К коммуникативным качествам личности относят также мобильность (психологическую подвижность) и ригидность
        (психологический консерватизм).</p>
{% endblock %}