{% extends('tests/result.html.twig') %}

{% block result %}
    <div class="container">
        {% if rt >= 46 and rt <= 80 %}
            <p><b>У вас высокая реактивная тревожность.</b></p>
            <p>Высокая реактивная тревожность вызывает нарушения внимания, иногда нарушение тонкой координации.</p>
            {% elseif rt >= 31 and rt <= 45 %}
            <p><b>У вас умеренная реактивная тревожность.</b></p>
            <p>Реактивная тревожность характеризуется напряжением, беспокойством, нервозностью.</p>
            {% elseif rt >= 0 and rt <= 30 %}
            <p><b>У вас низкая реактивная тревожность.</b></p>
        {% endif %}

        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: {{ scale.rt }}%;"
                 aria-valuenow="{{ scale.rt }}"
                 aria-valuemin="0"
                 aria-valuemax="100">{{ rt }} {% trans %}out of{% endtrans %} 80
            </div>
        </div>

        <br/>

        {% if lt >= 46 and lt <= 80 %}
            <p><b>У вас высокая личностная тревожность.</b></p>
            <p>Высокая личностная тревожность прямо коррелирует с наличием невротического конфликта, с эмоциональными и
                невротическими срывами и психосоматическими заболеваниями.</p>
            {% elseif lt >= 31 and lt <= 45 %}
            <p><b>У вас умеренная личностная тревожность.</b></p>
            <p>Личностная тревожность характеризует устойчивую склонность воспринимать большой круг ситуаций как угрожающие,
                реагировать на такие ситуации состоянием тревоги.</p>
            {% elseif lt >= 0 and lt <= 30 %}
            <p><b>У вас низкая личностная тревожность.</b></p>
        {% endif %}

        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: {{ scale.lt }}%;"
                 aria-valuenow="{{ scale.lt }}"
                 aria-valuemin="0"
                 aria-valuemax="100">{{ lt }} {% trans %}out of{% endtrans %} 80
            </div>
        </div>

        <br/>

        <p>Значительные отклонения от уровня умеренной тревожности требуют особого внимания, высокая тревожность предполагает
            склонность к появлению состояния тревоги у человека в ситуациях оценки его компетентности. В этом случае следует
            снизить субъективную значимость ситуации и задач и перенести акцент на осмысление деятельности и формирование
            чувства уверенности в успехе.</p>
    </div>
{% endblock %}