{% extends('tests/result.html.twig') %}

{% block result %}
    <div class="container">
        {% if sum >= 61 %}
            <p>То есть снижение или отсутствие способности к распознаванию, дифференцированию и выражению эмоциональных
                переживаний и телесных ощущений. Иногда в это понятие также включают низкую эмоциональную чувствительность в
                отношении других людей, низкую эмоциональную вовлечённость в обыденной жизни</p>
            <p>По мнению автора теста алекситимия определяется следующими когнитивно-аффективными психологическими
                особенностями:</p>
            <ul>
                <li>Трудностью в определении (идентификации) и описании собственных чувств;</li>
                <li>Трудностью в проведении различий между чувствами и телесными ощущениями;</li>
                <li>Снижением способности к символизации (бедность фантазии и других проявлений воображения);</li>
                <li>Фокусированием в большей мере на внешних событиях, чем на внутренних переживаниях.</li>
            </ul>
            <p>Люди, которые не могут выразить своих эмоций, накапливают их внутри, они вытесняются в подсознание и позже
                проявляются в физических блоках и зажимах. Артериальная гипертензия, ишемия, астма, атеросклероз, гастриты,
                колиты, дерматиты, ожирение - все это может быть последствиями невыраженных эмоций. Так что время от времени
                нужно давать своим эмоциям выход, даже если чувства не поддаются логическому описанию.</p>
            {% elseif sum >= 20 and sum <= 51 %}
            <p><b>Вы нормально распознаёте, дифференцируете и выражаете эмоциональные переживания и телесные ощущения.</b></p>
            {% elseif sum >= 52 and sum <= 60 %}
            <p><b>Вы находитесь в зоне риска</b></p>
        {% endif %}

        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: {{ scale.sum }}%;"
                 aria-valuenow="{{ scale.sum }}"
                 aria-valuemin="0"
                 aria-valuemax="100">{{ sum }} {% trans %}out of{% endtrans %} 100
            </div>
        </div>

        <br/>

        {% if tich >= 27 %}
            <p><b>Высокий показатель по шкале ТИЧ (Трудность идентификации чувств).</b></p>
            {% elseif tich >= 12 and tich <= 26 %}
            <p><b>Средний показатель по шкале ТИЧ (Трудность идентификации чувств).</b></p>
            {% elseif tich <= 11 %}
            <p><b>Низкий показатель по шкале ТИЧ (Трудность идентификации чувств).</b></p>
        {% endif %}

        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: {{ scale.tich }}%;"
                 aria-valuenow="{{ scale.tich }}"
                 aria-valuemin="0"
                 aria-valuemax="100">{{ tich }} {% trans %}out of{% endtrans %}35
            </div>
        </div>

        <br/>

        {% if toch >= 18 %}
            <p><b>Высокий показатель по шкале ТОЧ (Трудности с описанием чувств).</b></p>
            {% elseif toch >= 9 and toch <= 17 %}
            <p><b>Средний показатель по шкале ТОЧ (Трудности с описанием чувств).</b></p>
            {% elseif toch <= 8 %}
            <p><b>Низкий показатель по шкале ТОЧ (Трудности с описанием чувств)</b></p>
        {% endif %}

        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: {{ scale.toch }}%;"
                 aria-valuenow="{{ scale.toch }}"
                 aria-valuemin="0"
                 aria-valuemax="100">{{ toch }} {% trans %}out of{% endtrans %} 25
            </div>
        </div>

        <br/>

        {% if vom >= 26 %}
            <p><b>Высокий показатель по шкале ВОМ (Внешне-ориентированное мышление).</b></p>
            {% elseif vom >= 16 and vom <= 25 %}
            <p><b>Средний показатель по шкале ВОМ (Внешне-ориентированное мышление).</b></p>
            {% elseif vom <= 15 %}
            <p><b>Низкий показатель по шкале ТОЧ ВОМ (Внешне-ориентированное мышление).</b></p>
        {% endif %}

        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: {{ scale.vom }}%;"
                 aria-valuenow="{{ scale.vom }}"
                 aria-valuemin="0"
                 aria-valuemax="100">{{ vom }} {% trans %}out of{% endtrans %} 40
            </div>
        </div>

        <br/>

        <p>Авторы теста настоятельно рекомендуют опираться только на суммарный балл TAS-20-R и не использовать факторные шкалы в
            качестве независимых показателей.</p>
    </div>
{% endblock %}