{#{% extends('tests/result.html.twig') %}#}

{% block result %}
    {% if jelatelnost >= 6 %}
        <p><b>Скорее всего, вы не были достаточно честны.</b></p>
        <p>Вы набрали баллов выше нормы по шкале достоверности ответов. Попробуйте пройти тест ещё раз, но отвечать максимально честно.</p>
    {% elseif jelatelnost >= 3 and jelatelnost <= 5 %}
        <p><b>Скорее всего, вы были откровенны, отвечая на вопросы теста.</b></p>
    {% elseif jelatelnost <= 2 %}
        <p><b>Скорее всего, вы не были достаточно честны.</b></p>
        <p>Вы набрали баллов ниже нормы по шкале достоверности ответов. Попробуйте пройти тест ещё раз, но отвечать максимально честно.</p>
    {% endif %}

    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: {{ scale.jelatelnost }}%;"
             aria-valuenow="{{ scale.jelatelnost }}"
             aria-valuemin="0"
             aria-valuemax="100">{{ jelatelnost }} {% trans %}out of{% endtrans %} 9
        </div>
    </div>

    <br>

    {% if realizovannoe >= 13 %}
        <p><b>Шкала реализованной виктимности.</b></p>
        <p><strong>Выше нормы</strong>. Это означает, что вы достаточно часто попадаете в неприятные или даже опасные для вашего здоровья и жизни ситуации. Причиной этого является внутренняя предрасположенность и готовность вашей личности действовать определенными, ведущими в индивидуальном профиле способами. Чаще всего это стремление к агрессивному, необдуманному действию спонтанного характера.</p>
    {% elseif realizovannoe >= 8 and realizovannoe <= 12 %}
        <p><b>Шкала реализованной виктимности.</b></p>
        <p><strong>Нормальные (средние)</strong> показатели по данной шкале.</p>
    {% elseif realizovannoe <= 7 %}
        <p><b>Шкала реализованной виктимности.</b></p>
        <p><strong>Ниже нормы.</strong> Очевидно, что вы нечасто попадаете в критические ситуации либо у вас уже успел выработаться защитный способ поведения, позволяющий избегать опасных ситуаций. Однако внутренняя готовность к виктимному способу поведения присутствует. Скорее всего, ощущая внутренний уровень напряжения, вы стремитесь вообще избегать ситуации конфликта.</p>
    {% endif %}

    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: {{ scale.realizovannoe }}%;"
             aria-valuenow="{{ scale.realizovannoe }}"
             aria-valuemin="0"
             aria-valuemax="100">{{ realizovannoe }} {% trans %}out of{% endtrans %} 18
        </div>
    </div>

    <br>

    {% if aggression >= 17 %}
        <p><b>Шкала склонности к агрессивному виктимному поведению (агрессивный тип потерпевшего).</b></p>
        <p><b>Выше нормы.</b> К данной группе относятся испытуемые, склонные попадать в неприятные и опасные для жизни и здоровья ситуации в результате проявленной ими агрессии в форме нападения или иного провоцирующего поведения (оскорбление, клевета, издевательство и т. д.). Для них характерно намеренное создание или провоцирование конфликтной ситуации. Их поведение может являться реализацией типичной для них антиобщественной направленности личности, в рамках которой агрессивность проявляется по отношению к определенным лицам и в определенных ситуациях (избирательно), но может быть и «размытой», неперсонифицированной по объекту. Наблюдается склонность к антиобщественному поведению, нарушению социальных норм, правил и этических ценностей, которыми зачастую субъект пренебрегает. Такие люди легко поддаются эмоциям, особенно негативного характера, ярко их выражают, доминантны, нетерпеливы, вспыльчивы. При всех различиях в мотивации поведения характерно наличие насильственной антиобщественной установки личности.</p>
        <p>С учетом мотивационной и поведенческой характеристик могут быть представлены такие типы (или подтипы), как корыстный, сексуальный (половая распущенность), связанный с бытовыми конфликтами (скандалист, семейный деспот), алкоголик, негативный мститель, лицо психически больное и т. д.</p>
    {% elseif aggression >= 9 and aggression <= 16 %}
        <p><b>Шкала склонности к агрессивному виктимному поведению (агрессивный тип потерпевшего).</b></p>
        <p><b>У вас нормальные</b> (средние) показатели по данной шкале.</p>
    {% elseif aggression <= 8 %}
        <p><b>Шкала склонности к агрессивному виктимному поведению (агрессивный тип потерпевшего).</b></p>
        <p><b>Ниже нормы.</b> Для лиц данного типа характерно снижение мотивации достижения, спонтанности. Возможна высокая обидчивость. Хороший самоконтроль, стремление придерживаться принятых норм и правил. Стабильность в сохранении установок, интересов и целей.</p>
    {% endif %}

    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: {{ scale.aggression }}%;"
             aria-valuenow="{{ scale.aggression }}"
             aria-valuemin="0"
             aria-valuemax="100">{{ aggression }} {% trans %}out of{% endtrans %} 9
        </div>
    </div>

    <br>

    {% if samopovrejdenie >= 12 %}
        <p><b>Шкала склонности к самоповреждающему и саморазрушающему поведению. Модель активного виктимного поведения.</b></p>
        <p><b>Выше нормы.</b> Жертвенность, связанная с активным поведением человека, провоцирующим ситуацию виктимности своей просьбой или обращением. По существу, для активных потерпевших характерно поведение двух видов: провоцирующее, если для причинения вреда привлекается другое лицо, и самопричиняющее, которые характеризуется склонностью к риску, необдуманному поведению, зачастую опасному для себя и окружающих. Последствий своих действий могут не осознавать или не придавать им значения, надеясь, что все обойдется. С учетом специфики поведения и отношения к виктимным последствиям в рамках этого типа представлены: сознательный подстрекатель (обращающийся с просьбой о причинении ему вреда), неосторожный подстрекатель (поведение объективно в форме какой-либо просьбы или иным способом провоцирует преступника на причинение вреда, но сам потерпевший этого в должной мере не сознает), сознательный самопричинитель (лицо, умышленно причиняющее себе физический или имущественный вред), неосторожный самопричинитель (вред причинен собственными неосторожными действиями в процессе совершения иного умышленного или неосторожного преступления).</p>
    {% elseif samopovrejdenie >= 8 and samopovrejdenie <= 11 %}
        <p><b>Шкала склонности к самоповреждающему и саморазрушающему поведению. Модель активного виктимного поведения.</b>.</p>
        <p><b>У вас нормальные</b> (средние) показатели по данной шкале.</p>
    {% elseif samopovrejdenie <= 7 %}
        <p><b>Шкала склонности к самоповреждающему и саморазрушающему поведению. Модель активного виктимного поведения.</b></p>
        <p><b>Выше нормы.</b> Повышенная забота о собственной безопасности, стремление оградить себя от ошибок, неприятностей. Может приводить к пассивности личности по принципу «лучше ничего не делать, чем ошибаться». Характеризуется повышенной тревожностью, мнительностью, подвержен страхам.</p>
    {% endif %}

    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: {{ scale.samopovrejdenie }}%;"
             aria-valuenow="{{ scale.samopovrejdenie }}"
             aria-valuemin="0"
             aria-valuemax="100">{{ samopovrejdenie }} {% trans %}out of{% endtrans %} 22
        </div>
    </div>

    <br>

    {% if gipersocialnoe >= 8 %}
        <p><b>Шкала склонности к гиперсоциальному виктимному поведению. Модель инициативного виктимного поведения.</b></p>
        <p><b>Выше нормы.</b> Жертвенное поведение, социально одобряемое и зачастую ожидаемое. Сюда относятся лица, положительное поведение которых обращает на них преступные действия агрессора. Человек, который демонстрирует положительное поведение в ситуациях конфликта либо постоянно, либо в результате должностного положения, ожидания окружающих. Люди данного типа считают недопустимым уклонение от вмешательства в конфликт, даже если это может стоить им здоровья или жизни. Последствия таких поступков осознаются не всегда. Смел, решителен, отзывчив, принципиален, искренен, добр, требователен, готов рисковать, может быть излишне самонадеян. Нетерпим к поведению, нарушающему общественный порядок. Самооценка чаще всего завышенная. Поведение имеет положительные мотивы.</p>
    {% elseif gipersocialnoe >= 5 and gipersocialnoe <= 7 %}
        <p><b>Шкала склонности к гиперсоциальному виктимному поведению. Модель инициативного виктимного поведения.</b></p>
        <p><b>У вас нормальные</b> (средние) показатели по данной шкале.</p>
    {% elseif gipersocialnoe <= 4 %}
        <p><b>Шкала склонности к гиперсоциальному виктимному поведению. Модель инициативного виктимного поведения.</b></p>
        <p><strong>Выше нормы.</strong> Характеризуется пассивностью, равнодушием со стороны подростка к тем явлениям, которые происходят вокруг него. Действует по принципу «моя хата с краю», что может быть последствием как обиды на внешний мир, так и формирования в результате ощущения непонимания, изолированности от мира, отсутствия чувства социальной поддержки и включенности в социум.</p>
    {% endif %}

    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: {{ scale.gipersocialnoe }}%;"
             aria-valuenow="{{ scale.gipersocialnoe }}"
             aria-valuemin="0"
             aria-valuemax="100">{{ gipersocialnoe }} {% trans %}out of{% endtrans %} 14
        </div>
    </div>

    <br>

    {% if zavisimoe >= 13 %}
        <p><b>Шкала склонности к зависимому и беспомощному поведению (модель пассивного виктимного поведения).</b></p>
        <p><b>Выше нормы.</b> Это лица, не оказывающие сопротивления, противодействия преступнику по различным причинам: в силу возраста, физической слабости, беспомощного состояния (стабильного или временно), трусости, из боязни ответственности за собственные противоправные или аморальные действия и т. д. Могут иметь установку на беспомощность. Нежелание делать что-то самому, без помощи других. Могут иметь низкую самооценку. Постоянно вовлекаются в кризисные ситуации с целью получения сочувствия и поддержки окружающих. Имеет ролевую позицию жертвы. Робок, скромен, сильно внушаем, конформен. Возможен также вариант усвоенной беспомощности в результате неоднократного попадания в ситуации насилия. Склонен к зависимому поведению, уступчив, оправдывает чужую агрессию, склонен всех прощать.</p>
    {% elseif zavisimoe >= 7 and zavisimoe <= 12 %}
        <p><b>Шкала склонности к зависимому и беспомощному поведению (модель пассивного виктимного поведения).</b></p>
        <p><b>У вас нормальные</b> (средние) показатели по данной шкале.</p>
    {% elseif zavisimoe <= 6 %}
        <p><b>Шкала склонности к зависимому и беспомощному поведению (модель пассивного виктимного поведения).</b></p>
        <p><b>Выше нормы.</b> Склонность к независимости, обособленности. Всегда стремится выделиться из группы сверстников, имеет на все свою точку зрения, может быть непримирим к мнению других, авторитарен, конфликтен. Повышенный скептицизм. Возможна внутренняя ранимость, приводящая к повышенному желанию обособиться от окружающих.</p>
    {% endif %}

    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: {{ scale.zavisimoe }}%;"
             aria-valuenow="{{ scale.zavisimoe }}"
             aria-valuemin="0"
             aria-valuemax="100">{{ zavisimoe }} {% trans %}out of{% endtrans %} 19
        </div>
    </div>

    <br>

    {% if nekritichnoe >= 13 %}
        <p><b>Шкала склонности к некритичному поведению. Модель некритичного виктимного поведения.</b></p>
        <p><b>Выше нормы.</b> К данной группе относятся лица, демонстрирующие неосмотрительность, неумение правильно оценивать жизненные ситуации. Некритичность может проявиться как на базе личностных негативных черт (алчность, корыстолюбие и др.), так и положительных (щедрость, доброта, отзывчивость, смелость и др.), а кроме того, в силу невысокого интеллектуального уровня. Эти лица демонстрируют неосторожность, неосмотрительность, неумение правильно оценивать жизненные ситуации в результате каких-либо личностных или ситуативных факторов: эмоциональное состояние, возраст, уровень интеллекта, заболевание.</p>
        <p>Личность некритичного типа обнаруживает склонность к спиртному, неразборчивость в знакомствах, доверчивость, легкомысленность. Имеет непрочные нравственные устои, что усиливается отсутствием личного опыта или не учетом его. Склонны к идеализации людей, оправданию негативного поведения других, не замечают опасности.</p>
    {% elseif nekritichnoe >= 8 and nekritichnoe <= 12 %}
        <p><b>Шкала склонности к некритичному поведению. Модель некритичного виктимного поведения.</b></p>
        <p><b>У вас нормальные</b> (средние) показатели по данной шкале.</p>
    {% elseif nekritichnoe <= 7 %}
        <p><b>Шкала склонности к некритичному поведению. Модель некритичного виктимного поведения.</b></p>
        <p><b>Выше нормы.</b> Вдумчивость, осторожность, стремление предугадывать возможные последствия своих поступков, которые иногда приводят к пассивности подростка, страхам. Самореализация подростка в этом случае значительно затруднена, может появляться социальная пассивность, приводящая к неудовлетворенности своими достижениями, чувству досады, зависти.</p>
    {% endif %}

    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: {{ scale.nekritichnoe }}%;"
             aria-valuenow="{{ scale.nekritichnoe }}"
             aria-valuemin="0"
             aria-valuemax="100">{{ nekritichnoe }} {% trans %}out of{% endtrans %} 19
        </div>
    </div>
{% endblock %}