{% extends('tests/result.html.twig') %}

{% block result %}

    <style>
        .container p:last-child {
            margin-bottom: 0;
        }

        .progress {
            height: 25px;
        }

        .progress-bar {
            background: #8bc34a;
        }
    </style>

    <div class="container">
        <h1>Результат теста</h1>
    </div>

    <section class="py-4 border-bottom">
        <div class="container">
            <h3 class="mb-4 display-4">Уровень притязаний</h3>

            <div class="card bg-light mb-4">
                <div class="card-body">
                    <p>Уровень притязаний &mdash; важная характеристика личности. Она обозначает уровень сложности
                        задач, на
                        решение которых человек претендует человек. Высокий уровень притязаний может говорить об
                        уверенности в
                        себе в той сфере, в которой лежат эти задачи. Уровень притязаний &mdash; комплексная
                        характеристика и
                        включает себя оценку своего потенциала, готовность к состязанию, стремление к успеху и
                        выражается в
                        инициативности и волевых усилиях.</p>
                    <p>Эти характеристики помогают в анализе личности, но сами по себе никак не могут указывать на
                        профессию,
                        которой вам стоит заниматься. Однако от уровня притязаний зависит успех в профессии.</p>
                </div>
            </div>

            <article class="mb-4">
                {{ progress(pretension.potential, 'Оценка своего потенциала (самооценка)')|raw }}
            </article>
            <article class="mb-4">
                {{ progress(pretension.avoid, 'Мотив избегания неудач')|raw }}
            </article>
            <article class="mb-4">
                {{ progress(pretension.competition, 'Состязательный мотив')|raw }}
            </article>
            <article class="mb-4">
                {{ progress(pretension.initiative, 'Инициативность')|raw }}
            </article>
            <article class="mb-4">
                {{ progress(pretension.expect, 'Ожидаемый уровень результатов')|raw }}
            </article>
            <article class="mb-4">
                {{ progress(pretension.effort, 'Воля')|raw }}
            </article>
            <article class="mb-4">
                {{ progress(pretension.total, 'Общий балл')|raw }}
            </article>
        </div>
    </section>

    <section class="py-4 border-bottom">
        <div class="container">
            <h3 class="display-4">Темперамент</h3>

            <div class="card bg-light mb-4">
                <div class="card-body">
                    <p>Темперамент &ndash; это психофизические свойства человека, которые определяют темп, скорость и
                        интенсивность протекания психических процессов, в том числе речи, эмоций и движений. Он может
                        накладывать определённые ограничения на выбор некоторых профессий, но далеко не всегда.
                        Темперамент никак не связан с интеллектом и креативностью. </p>
                </div>
            </div>

            <article class="mb-4">
                <div class="card mb-4">
                    <div class="card-body">
                        {{ progress(temperament.fleg, 'Флегматик')|raw }}
                        <p class="mt-2">Флегматик. Новые формы поведения вырабатываются медленно, но являются стойкими.
                            Обладает
                            медлительностью и спокойствием в действиях, мимике и речи, ровностью, постоянством, глубиной
                            чувств
                            и настроений. Настойчивый и упорный, он редко выходит из себя, не склонен к аффектам,
                            рассчитав свои
                            силы, доводит дело до конца, ровен в отношениях, в меру общителен, не любит попусту болтать.
                            Экономит силы, попусту их не тратит. В зависимости от условий в одних случаях флегматик
                            может
                            характеризоваться "положительными" чертами - выдержкой, глубиной мыслей, постоянством,
                            основательностью, в других - ленью и склонностью к выполнению одних лишь привычных
                            действий.</p>

                        {% if temperament.fleg >= 66 %}
                            <p>Высокий уровень по флегматическому типу. Возможно, вам не стоит выбирать профессии, где
                                нужно
                                много взаимодействовать с людьми и часто переключать внимание. Профессии, которые вам
                                могут не
                                подойти: врач, учитель, организатор мероприятий, менеджер по продажам, продавец и
                                т.д.</p>
                        {% endif %}
                    </div>
                </div>
            </article>

            <article class="mb-4">
                <div class="card mb-4">
                    <div class="card-body">
                        {{ progress(temperament.mel, 'Меланхолик')|raw }}

                        <p class="mt-2">Меланхолик. Обладает высокой чувствительностью: присутствует глубина чувств при
                            слабом их выражении. Ему свойственна сдержанность и приглушенность речи и
                            движений, скромность, осторожность. В нормальных условиях меланхолик - человек
                            глубокий, содержательный, ответственный, успешно справляться с жизненными задачами.
                            При неблагоприятных условиях может превратиться в замкнутого, тревожного, ранимого
                            человека, склонного к тяжелым внутренним переживаниям таких жизненных
                            обстоятельств, которые этого не заслуживают.</p>

                        {% if temperament.mel >= 66 %}
                            <p>Высокий уровень меланхолии. Возможно, вам не стоит выбирать профессии, где предполагается
                                психологическая борьба и противостояния, а также высокий уровень эмоциональной отдачи.
                                Профессии, которые вам могут не подойти: ивент-менеджер, актёр, режиссёр, воспитатель,
                                учитель,
                                медсестра, логопед, менеджер по продажам и т.д.</p>
                        {% endif %}
                    </div>
                </div>
            </article>

            <article class="mb-4">
                <div class="card mb-4">
                    <div class="card-body">
                        {{ progress(temperament.hol, 'Холерик')|raw }}

                        <p class="mt-2">Холерик. Отличается повышенной возбудимостью, действия прерывисты. Ему
                            свойственны резкость и стремительность движений, сила, импульсивность, яркая
                            выраженность эмоциональных переживаний. Вследствие неуравновешенности, увлекшись
                            делом, склонен действовать изо всех сил, истощаться больше, чем следует. Имея
                            общественные интересы, темперамент проявляет в инициативности, энергичности,
                            принципиальности. При отсутствии духовной жизни холерический темперамент часто
                            проявляется в раздражительности, вспыльчивости при эмоциональных обстоятельствах.</p>

                        {% if temperament.hol >= 66 %}
                            <p>Высокий показатель по холерическому типу. Возможно, вам не стоит выбирать профессии, где
                                предполагается смирное сидение за компьютером и мало общения, мало риска. Вероятно, вам
                                не
                                подойдут такие профессии: бухгалтер, литературный редактор, библиотекарь, архивариус,
                                программист, врач лабораторной диагностики и т.д.</p>
                        {% endif %}
                    </div>
                </div>
            </article>

            <article class="mb-4">
                <div class="card mb-4">
                    <div class="card-body">
                        {{ progress(temperament.san, 'Сангвиник')|raw }}

                        <p class="mt-2">Сангвиник. Быстро приспосабливается к новым условиям, быстро сходится с людьми,
                            общителен. Чувства легко возникают и сменяются, эмоциональные переживания, как
                            правило неглубоки. Мимика богатая, подвижная, выразительная. Несколько непоседлив,
                            нуждается в новых впечатлениях, недостаточно регулирует свои импульсы, не умеет
                            строго придерживаться выработанного распорядка жизни, системы в работе. В связи с
                            этим не может успешно выполнять дело, требующее равной затраты сил, длительного и
                            методичного напряжения, усидчивости, устойчивости внимания, терпения. При
                            отсутствии серьезных целей, глубоких мыслей, творческой деятельности вырабатывается
                            поверхностность и непостоянство.</p>

                        {% if temperament.san >= 66 %}
                            <p>Высокий показатель по сангвиническому типу. Возможно, вам не стоит выбирать профессии,
                                где предполагается мало общения, мало движения, мало риска. Вероятно, вам не подойдут
                                такие профессии: бухгалтер, аудитор, литературный редактор, библиотекарь, архивариус,
                                программист, врач лабораторной диагностики, садовод и т.д.</p>
                        {% endif %}
                    </div>
                </div>
            </article>
        </div>
    </section>

    <section class="py-4 border-bottom">
        <div class="container">
            <div class="card mb-4">
                <div class="card-body">
                    {{ progress(confidence, 'Уверенность в себе')|raw }}

                    <div class="mt-2">
                        {% if confidence >= 50 %}
                            <p>Показатель выше среднего говорит о том, что вы легко взаимодействуете с незнакомыми
                                людьми, не боитесь публики и не боитесь отстаивать своё мнение. Обладая этими
                                качествами, можно выбирать социальные профессии: учитель, юрист, PR-менеджер,
                                менеджер по персоналу, менеджер по продажам и т.д.</p>
                        {% else %}
                            <p>Показатели ниже среднего по шкале "уверенность в себе" говорят о том,
                                что взаимодействие с незнакомыми людьми, борьба, выступления перед публикой
                                даются вам с большими усилиями и очень стрессовы для вас.
                                Если это не исправить, то такие профессии, как учитель, юрист, PR-менеджер,
                                менеджер по персоналу, менеджер по продажам, ивент-менеджер
                                и другие не будут доступны вам в полной мере.</p>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-body">
                    {{ progress(empathy, 'Эмпатия')|raw }}

                    <div class="mt-2">
                        {% if empathy >= 50 %}
                            <p>Высокие показатели по этой шкале говорят о способности понимать чувства другого человека.
                                Обладая этим качеством, можно рассматривать профессии: психотерапевт, психолог,
                                адвокат, актёр, воспитатель и др.</p>
                        {% else %}
                            <p>Низкие показатели по этой шкале могут говорить о неразвитой способности понимать
                                чувства другого человека. В этом случае не стоит рассматривать помогающие профессии:
                                медсестра, врач, психотерапевт, психолог, социальный работник и др.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="py-4 border-bottom">
        <div class="container">
            <h3 class="display-4 mb-4">Система ценностей</h3>

            <div class="card bg-light mb-4">
                <div class="card-body">
                    <p>Ценностные ориентации &ndash; очень важная характеристика личности. Ценности существенно влияют
                        на выбор профессии, поскольку определяют выбор объекта работы, места работы, характера работы,
                        её социального стутуса и вознаграждения.</p>
                </div>
            </div>

            <div>
                <ol>
                    {% for value in system_values %}
                        <li style="opacity: 0.{{ 100 - loop.index * 3 }};">{{ value }}</li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </section>

    <section class="py-4 border-bottom">
        <div class="container">
            <h4 class="display-4 mb-4">Предпринимательство</h4>

            <div class="card bg-light mb-4">
                <div class="card-body">
                    <p>Предпринимательство требует от человека ответственности, свободолюбия, поисковой активности,
                        готовности к социальному и финансовому риску.</p>
                </div>
            </div>

            <article class="mb-4">
                {{ progress(businessman.freedom, 'Свободолюбие')|raw }}
            </article>
            <article class="mb-4">
                {{ progress(businessman.stable, 'Готовность к нестабильности')|raw }}
            </article>
            <article class="mb-4">
                {{ progress(businessman.responsibility, 'Ответственность')|raw }}
            </article>
            <article class="mb-4">
                {{ progress(businessman.risk, 'Готовность к риску')|raw }}
            </article>
            <article class="mb-4">
                {{ progress(businessman.search, 'Поисковая активность')|raw }}
            </article>
            <article class="mb-4">
                {{ progress(businessman.total, 'Общий балл')|raw }}
            </article>

            {% if businessman.total >= 66 %}
                <p>Вы набрали высокий балл по предпринимательству. Это, вероятно, означает,
                    что у вас есть набор личностных качеств, необходимых для того, чтобы начать работать независимо.
                    Например, во фрилансе. </p>
            {% elseif businessman.total >= 33 %}
                <p>Вы набрали средний балл по предпринимательству. Вероятно, это означает, что вам не достаёт
                    мотивации, смелости на свой страх и риск начать своё независимое дело.</p>
            {% else %}
                <p>Вы набрали невысокий балл по предпринимательству. Это, вероятно, означает, что вам гораздо
                    уютнее в роли наёмного сотрудника. Для вас важнее защищённая позиция и наличие умного руководства.
                    Именно в этой позиции вы готовы проявлять свои лучшие стороны. Вам нужно поощрение и стабильная
                    зарплата.</p>
            {% endif %}
        </div>
    </section>

    <section class="py-4 border-bottom">
        <div class="container">
            <h3 class="display-4 mb-4">Кто вы в организации</h3>

            <div class="card bg-light mb-4">
                <div class="card-body">
                    <p>В любой организации роли распределяются сообразно склонностям и способностям человека.
                        Во всех организациях они примерно такие: руководитель, администратор, специалист, генератор
                        идей,
                        коммуникатор, аналитик.</p>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-body">
                    {{ progress(creator, 'Креатор')|raw }}

                    <div class="mt-2">
                        {% if creator >= 50 %}
                            <p>Вы интеллектуально активны:
                                стремитесь находить новые способы решения задач,
                                эксперментировать. И вам неприятно топтаться на одном месте, раз за разом повторяя
                                привычный алгоритм.</p>
                        {% else %}
                            <p>Вам было бы комфортно действовать по известному алгоритму, находя радость в точности и
                                аккуратности исполнения. Изменения порядка действий тревожат вас:
                                поэтому вы не любите экспериментировать по-крупному. Ваш начальник может положиться
                                на вас как на надёжного исполнителя.</p>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-body">
                    {{ progress(leader, 'Руководитель')|raw }}
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-body">
                    {{ progress(communicator, 'Коммуникатор (интроверт/экстраверт)')|raw }}
                </div>
                <div class="card-footer small">
                    <h5>Экстраверсия</h5>
                    <p>
                        Если вы получили высокие баллы по Экстраверсии - это значит, что ваш источник энергии - не
                        внутри вас, а вовне,
                        вас зажигают люди, вам необходимы общение и движение, действия, событийность.
                        Вы чувствуете себя опустошенным и не очень счастливым - если вы уже несколько дней не имеете
                        возможности
                        общаться, вы самовыражаетесь скорее в общении, для вас ценны новые впечатления, вы вполне себя
                        хорошо чувствуете
                        в толпе и среди людей. Экстраверты имеют много знакомых, друзей, они постоянно куда-то идут,
                        едут, кому-то
                        звонят, договариваются о встречах, им комфортно в атмосфере постоянного действия и хоть они и
                        устают в конце
                        дня, но не участвуют себя опустошенными от этой активной жизни. Конечно, экстраверты тоже иногда
                        проводят время
                        в уединении (чтение, приготовление уроков, уборка в доме, приготовление еды), но выдержать долго
                        уединение они
                        не могут. Им комфортнее, если они совершают коллективные действия. Им даже отдыхать проще
                        активно и с людьми.
                        Экстраверты легко отдают энергию людям, поэтому им проще работать в профессиях
                        «человек-человек»: учитель,
                        ивент-менеджер, продавец, продюсер, режиссер, актер, менеджер по персоналу, связям с
                        общественностью, журналист,
                        отельер, ресторатор и т.д.
                        На это нужно много энергии, экстраверт заряжается от общения с людьми.
                        Все это не говорит о доброте или уме экстраверта. Он может быть как глубоким, так и
                        поверхностным человеком, как
                        добрым, так и не очень добрым.</p>
                    <h5>Интроверсия</h5>
                    <p>
                        Если вы получили высокие баллы по Интроверсии - это значит, что ваш источник сил - не другие
                        люди, а ваш
                        собственный внутренний мир: ваши собственные чувства, мысли, знания, книги, чертежи.
                        Вам некомфортно долго находиться среди множества людей, вы от этого довольно быстро устаете и
                        начинаете себя
                        чувствовать одиноким. Друзьями вы не можете назвать многих, а только тех, кто вам действительно
                        близок по духу.
                        Вы не нуждаетесь в тоннах новых впечатлений (для вас это было бы стрессом), вы нуждаетесь во
                        вдумчивой
                        переработке полученных впечатлений. А для этого вам и требуется уединение.
                        Вам не комфортно делать три дела одновременно (это тоже стресс для вас). Вы склонны к
                        последовательной и
                        ответственной проработке одного задания.
                        Если интроверт обладает высоким интеллектом и волей - он бесценен для общества, для своего
                        работодателя и
                        учителя. Такие интроверты очень полезные люди. Может ли интроверт работать психологом или врачом
                        или
                        репетитором? Да, может. Он способен углубиться в проблему и ему это комфортно-решать задачу,
                        если его не дергают
                        для других задач. Часто интроверты работаю не в профессиях «человек-человек», а в профессиях -
                        «человек-знак»
                        или «человек художественный образ», «человек-техника», «человек-природа». Где именно ему
                        работать - это зависит
                        его, интроверта, интересов.</p>
                    <hr/>
                    <p>Если вы не оказались выраженным интровертом и не оказались выраженным экстравертом, то кто же вы?
                        Веротяно -
                        амбиверт. То есть ваша энергия равно или попеременно распределяется между людьми и другими
                        объектами. Это
                        означает, что вы могли бы работать и с люьми, и с неодушевленными предметами (карты, продукты
                        питания, числа,
                        тесты, оборудование) - попеременно. </p>
                </div>
            </div>
        </div>
    </section>

    <section class="py-4 border-bottom">
        <div class="container">
            <h3 class="mb-4 display-4">Характеристики интеллекта</h3>

            <article class="mb-4">
                <div class="card">
                    <div class="card-body">
                        {{ progress(iq.verbal, 'Вербальный интеллект')|raw }}

                        <div class="mt-2">
                            {% if iq.verbal >= 66 %}
                                <p>Показатели вашего вербального интеллекта высокие. Это значит, что вы хорошо
                                    чувствуете слово, умеете
                                    оперировать словом, текст может быть одним из ключевых объектов вашего труда или
                                    ключевых
                                    инструментов вашего труда. Вербальный интеллект требуется в профессиях
                                    литературный редактор, журналисти, переводчик, филолог, преподаватель литературы и
                                    языков,
                                    юрист, логопед, актёр, сценарист, историк, литературный критик и т.п.
                                    Однако если у вас нет желания работать словом, то вы не обязаны это делать.
                                    Вы можете выбирать профессии, в которых вербальный интеллект не является важным.</p>
                            {% elseif iq.verbal >= 33 %}
                                <p>Показатели вашего вербального интеллекта средние. Это значит, что слово, текст не
                                    могут
                                    быть объектом вашего труда, но вполне могут быть инструментом вашего труда.
                                    Наепример, менеджер по персоналу,
                                    учитель, врач, менеджер по продажам и другие специалисты, которые вынуждены общаться
                                    устно и письменно, а также
                                    читать профессиональную литературу.
                                    Однако если у вас нет желания работать словом, то вы не обязаны это делать.</p>
                            {% else %}
                                <p>Показатели вашего вербального интеллекта низкие. Это значит, что вероятнее всего,
                                    слово и текст не могут быть ни объектом, ни инструментом вашего труда.
                                </p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-footer small">
                        <p><b>Что такое вербальный интеллект</b> <br/>
                            Вербальный интеллект — это языковой, словесный интеллект, благодаря ему человек способен
                            усвоить язык, понимать
                            речь, оперировать понятиями, логически рассуждать.
                            Вербальный интеллект выражается и в словарном запасе. Ученые считают, что вербальный
                            интеллект очень важен в
                            жизни каждого человека, в нем отражаются общие интеллектуальные способности. Он необходим в
                            процессе обучения
                            чему бы то ни было. Некоторые профессии требуют развитого вербального интеллекта. Эти
                            профессии связаны с устным
                            или письменным текстом: журналист, филолог, преподаватель, врач, психолог, логопед, актер,
                            режиссер, сценарист,
                            литературный редактор, копирайтер, специалист по связям с общественностью, юрист (в том
                            числе и адвокат),
                            искусствовед, продавец, маркетолог, политолог, политик…
                            Серьезные нарушения вербального интеллекта встречаются при аутизме, при задержке
                            психического или задержке
                            речевого развития.
                            В норме вербальный интеллект можно развивать чтением, запоминанием текстов, тренировкой.</p>
                    </div>
                </div>
            </article>

            <article class="mb-4">
                <div class="card">
                    <div class="card-body">
                        {{ progress(iq.logic, 'Логика')|raw }}

                        <div class="mt-2">
                            {% if iq.logic >= 66 %}
                                <p>Вы набрали высокие баллы по шкале логика. Это означает, что вы могли бы освоить любую
                                    профессию
                                    умственного труда, результаты которого критично зависят от логических операций
                                    работника.
                                    Сферы, в которых требуется логическая зрелость, очень разные. Развитая логика нужна
                                    юристу,
                                    математику, аналитику, экономисту, программисту, инженеру, психологу и т.п.
                                    Поэтому высокие показатели по логике говорят о том, что у вас хорошо организован
                                    мыслительный
                                    процесс,
                                    но сами по себе не указывают на профессиональную сферу.</p>
                            {% elseif iq.logic >= 33 %}
                                <p>Вы набрали средние баллы по шкале логика. Вероятно, это значит, что те профессии,
                                    в которых результаты труда критично зависят от точности ваших логических операций,
                                    вам не могут быть одназначно рекомендованы. Однако логику можно тренировать.
                                    Поэтому со средними баллами по логике не всё потеряно.
                                    Есть вполне интеллектуальные профессии, в которых некоторые логические ошибки не
                                    способны
                                    провалить дело. </p>
                            {% else %}
                                <p>Вы набрали низкие баллы по шкале логика. Вероятно, вам доступны простые логические
                                    операции
                                    или ваша работа не должна включать логические задачи вовсе.</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-footer small">
                        <p><b>Что такое логика</b><br/>
                            Решая жизненные, текстовые или математические задачи человек
                            может мыслить логически правильно, стройно, непротиворечиво. В этом случае мы говорим, что у
                            данного человека развитая логика. Эта способность - мыслить логически верно - необходима для
                            успешной работы не только с абстрактными понятиями, но и с наглядными образами, с
                            человеческим поведением. Если человек в процессе рассуждения непоследователен, не замечает
                            противоречий, не может классифицировать явления, «растекается мыслью по древу», то можно
                            сказать, что у такого человека логика устроена не вполне хорошо. Причины нарушений в логике
                            рассуждения могут быть связаны с заболеваниями или отравлением мозга химическими веществами,
                            педагогической запущенностью, отсутствием привычки к умственному труду. Умение рассуждать
                            логически можно развивать с помощью специальных упражнений. Логически строгое мышление
                            необходимо во всех профессиях умственного труда: инженер, программист, учитель, врач, юрист,
                            журналист, предприниматель и т.д.
                        </p>
                    </div>
                </div>
            </article>

            <article class="mb-4">
                <div class="card">
                    <div class="card-body">
                        {{ progress(iq.attention, 'Внимание')|raw }}

                        <div class="mt-2">
                            {% if iq.attention >= 66 %}
                                <p>Вы набрали высокие баллы по шкале внимание. Это означает, что вы можете
                                    сосредоточиваться на знаках.
                                    Тогда вам доступны профессии: бухгалтер, экономист, математик, проектировщик зданий,
                                    3d-визуализатор, корректор, таможенный декларант, налоговый консультант,
                                    юрист, пилот, авиадиспетчер, SEO-специалист и т.д.</p>
                            {% elseif iq.attention >= 33 %}
                                <p>Вы набрали средние баллы по шкале внимание.
                                    Это значит, что возможность сосредоточиться на цифрах и других знаках у вас средняя.
                                    Поэтому работа в профессиях, требующих большой точности в работе со знаками,
                                    вероятно,
                                    не приведёт вас к успеху и будет вам скучна. Это такие профессии, как бухгалтер,
                                    экономист, математик, проектировщик зданий, 3d-визуализатор, корректор,
                                    таможенный декларант, налоговый консультант, юрист, пилот, авиадиспетчер и т.д.</p>
                            {% else %}
                                <p>Вы набрали низкие баллы по шкале внимание. Это может означать, что работа, требующая
                                    сосредоточения внимания на знаках, вам не подходит вовсе и не стоит выбирать работу
                                    с документами, текстами, числами, таблицами, чертежами.</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-footer small">
                        <p><b>Что такое внимание</b><br/>Внимание - это направленность и сосредоточенность сознания на
                            каком-либо объекте,
                            в частности - на знаках.
                            Способность сосредоточиться на
                            объекте критична для выживания в физическом мире, но не менее важна она и в мире
                            человеческих дел и отношений, в
                            мире информации. Без внимания невозможны запоминание и мышление. Здесь мы измеряем вашу
                            способность
                            сосредоточиться на знаках(числа и буквы).
                            Серьезные нарушения внимания случаются при мозговых травмах и отравлениях, при некоторых
                            психических и
                            неврологических заболеваниях.
                            В норме все характеристики внимания - объем, скорость переключения, устойчивость - можно
                            тренировать.</p>
                    </div>
                </div>
            </article>

            <article class="mb-4">
                <div class="card">
                    <div class="card-body">
                        {{ progress(iq.math, 'Числовой интеллект')|raw }}

                        <div class="mt-2">
                            {% if iq.math >= 66 %}
                                <p>Вы набрали высокие баллы по числовому интеллекту. Это означает что вы способны
                                    успешно манипулировать
                                    числами. Ваше внимание легко сосредоточивается на вычислениях. Серьёзные вычисления
                                    есть
                                    в таких профессиях: экономист, математик, физик, аналитик больших данных,
                                    маркетолог, инженер, социолог, продакт-менеджер и др.</p>
                            {% elseif iq.math >= 33 %}
                                <p>Вы набрали средние баллы по числовому интеллекту. Это значит, что вычисления могут
                                    иметь место
                                    в вашей работе, но не в больших объёмах. Поэтому профессии, связанные с
                                    вычислениями,
                                    вам лучше не выбирать. А это вот какие профессии: экономист, математик,
                                    физик-теоретик, аналитик больших данных,
                                    маркетолог, инженер, социолог и др. Однако есть профессии, доступ к которым идёт
                                    через
                                    сдачу профильной математики (психолог, логопед, все виды менеджмента), но в самой
                                    профессии математика
                                    используется мало.</p>
                            {% else %}
                                <p>Вы набрали низкие баллы по числовому интеллекту. Это значит, что для вас
                                    предпочтительна была бы
                                    профессия, в которой вычислений мало. Это гуманитарные профессии, врачебные,
                                    художественные и
                                    коммуникативные, ремесленные.</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-footer small">
                        <p><b>Что такое числовой интеллект</b><br/> Числовой интеллект – это способность эффективно
                            манипулировать числами.
                            Такая способность требует сосредоточенного внимания к такой материи, как числа. Но важно и
                            другое -
                            совершать умственные манипуляции с ними: уметь находить закономерности в числовых массивах и
                            рядах, «видеть»
                            числа, уметь ими орудовать, умножать, складывать, делить,
                            Развитый числовой интеллект важен в таких профессиях, как экономист, бухгалтер, математик,
                            маркетолог, продавец,
                            инженер, социолог, продакт-менеджер и др
                        </p>
                    </div>
                </div>
            </article>

            <article class="mb-4">
                <div class="card">
                    <div class="card-body">
                        {{ progress(iq.spatial, 'Пространственное мышление')|raw }}

                        <div class="mt-2">
                            {% if iq.spatial >= 66 %}
                                <p>Высокие показатели пространственного интеллекта говорят о развитой возможности видеть
                                    трехмерные объекты с
                                    разных сторон, создавать трехмерные модели - мебели, зданий, двигателей и т.д. Этот
                                    вид интеллекта необходим
                                    архитектору зданий, архитектору интерьеров, инженеру - проектировщику чего бы то ни
                                    было, сервисному
                                    инженеру и инженеру по эксплуатации, промышленному дизайнеру, 3d-моделлеру, хирургу
                                    и т.п.</p>
                            {% elseif iq.spatial >= 33 %}
                                <p>Средние показатели пространственного интеллекта позволяют решать задачи на плоскости.
                                    А это требуется в
                                    работе конструктора одежды, кадастрового инженера и любой другой профессии, где нет
                                    необходимости решать
                                    задачи в трехмерном пространстве.</p>
                            {% else %}
                                <p>Низкие показатели пространственного интеллекта не позволяют работать инженером,
                                    ахритектором, 3d-моделлером
                                    т.п.
                                </p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-footer small">
                        <p><b>Что такое пространственный интеллект</b><br/>
                            Пространственный интеллект: с его помощью можно создавать трехмерные образы и действовать с
                            ними в процессе
                            решения всевозможных практических задач, например, проектировочных, инженерных,
                            дизайнерских. Развитое
                            пространственное мышление позволяет создавать и читать чертежи и карты, ориентироваться в
                            пространстве. В основе
                            лежит пространственное видение: способность представить физический объект (дом, стул, сумку,
                            платье, пальто,
                            двигатель, и прочее) во всех его деталях со всех сторон. Пространственный интеллект
                            совершенно необходим всем
                            видам инженеров, архитекторам, дизайнерам, художникам сцены, хирургам и травматологам.
                            Пространственное мышление
                            можно развивать у ребенка с помощью конструкторов и любых не игрушечнх предметов.</p>
                    </div>
                </div>
            </article>

            <article class="mb-4">
                <div class="card">
                    <div class="card-body">
                        {{ progress(iq.abstract, 'Абстрактное мышление')|raw }}

                        <div class="mt-2">
                            {% if iq.abstract >= 66 %}
                                <p>Высокие показатели абстрактного мышления говорят о способности оперировать
                                    отвлеченными, воображаемыми понятиями: анализировать сущностные явления и связи
                                    между ними, выделять главное и второстепенное в явлениях, не данных человеку в
                                    непосредственном восприятии.</p>
                            {% elseif iq.abstract >= 33 %}
                                <p>Средние показатели абстрактного мышления говорят о средней возможности работать с
                                    абстрактыми понятиями, и этот уровень доступен врачу, бухгалтеру, учителю, менеджеру
                                    по персоналу, инженеру и многим другим специалистам, чья работа отчасти связана с
                                    абстрактным понятиями и отчасти с предметами, которые можно видеть и осязать.</p>
                            {% else %}
                                <p>Низкие показатели абстрактного мышления говорят о том, что человеку лучше выбрать
                                    профессию с опорой на наглядность. Это профессии плотник, повар, электрик, портной и
                                    т.д.</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-footer small">
                        <p><b>Что такое абстрактное мышление?</b><br/>
                            Это оперирование отвлеченными, воображаемыми, т.н. абстрактными понятиями («смысл»,
                            «равенство», «сущность», «величина», «выбор», «воля», «время» и прочее) Абстрактное
                            мышление направлено на выявление существенных связей между
                            предметами и явлениями мира. Оно позволяет сравнивать явления между собой, систематизировать
                            и классифицировать их, анализировать явления, вычленять главное в явлении, находить
                            соответствие между общим и частными, соединять частности в общую картину. Умение абстрактно
                            мыслить абсолютно необходимо для людей умственного труда: учителей, социологов, психологов,
                            инженеров, журналистов, политологов, биологов, программистов, менеджеров (управленцев),
                            режиссеров и т.д. Развивать абстрактное мышление можно с помощью специальных методик и с
                            помощью чтения научной или научно-популярной литературы.</p>
                    </div>
                </div>
            </article>

            <article class="mb-4">
                <div class="card">
                    <div class="card-body">
                        {{ progress(iq.erudition, 'Общая эрудиция')|raw }}

                        <div class="mt-2">
                            {% if iq.erudition >= 66 %}
                                <p>Высокие показатели по общей эрудиции говорят о высокой познавательной активности
                                    человека, о его
                                    начитанности и насмотренности, стремлении ориентироваться в социальном, культурном
                                    мире, в
                                    котором он живет. Осведомленность такого рода неоходима любому человеку, который
                                    хотел бы работать в
                                    гуманитарных профессиях: журналистика, социология, политология, юриспруденция,
                                    искусствоведение,
                                    педагогика, психология и т.д.</p>
                            {% elseif iq.erudition >= 33 %}
                                <p>Средние показатели по общей эрудиции говорят о среднем уровне общей осведомленности
                                    человека и среднем
                                    уровене познавательной активности человека.
                                    Осведомленность при желании можно пополнить, увеличить. Однако есть
                                    профессии, для которых наличие или отсутствие богатой общей эрудиции не критично. И
                                    это профессии:
                                    бухгалтер, экономист, инженер, специалист ЖКХ. Сказанное не означает, что богатейшая
                                    общая эрудиция
                                    невозможна для представителей этих профессий, а лишь означает, что им нужна эрудиция
                                    в поле их
                                    профессиональной деятельности.</p>
                            {% else %}
                                <p>Низкие показатели общей эрудиции говорят о низком уровне познавательной активности
                                    человека, отстутствии
                                    в нем стремления познавать социальный и культырнй мир вокруг него. Есть профессии, в
                                    которых даже
                                    средняя общая осведомленность не требуется. Это профессии: мастер маникюра, техник
                                    по обслуживанию
                                    здания, сантехник, электрик, повар, швея, полицейский, водитель, автомеханик и
                                    другие. Сказанное не
                                    означает, что общая эрудиция невозможна для представителей этих профессий, а лишь
                                    означает, что им нужна
                                    эрудиция в поле их профессиональной деятельности.</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-footer small">
                        <p><b>Что такое эрудиция</b><br/>
                            Эрудиция - общий объем и уровень относительно простых знаний, широта познаний. Эрудиция
                            существенно зависит от
                            образования человека, его общей культуры и от интеллектуальной активности.
                            Большой набор знаний не говорит о способности решать например, инженерные или математические
                            задачи. Но может
                            свидетельствовать об уровне познавательной активности человека и её направленности.
                            Эрудиция вполне развиваема с помощью книг, журналов, фильмов и статей. </p>
                    </div>
                </div>
            </article>

            <article class="mb-4">
                <div class="card">
                    <div class="card-body">
                        {{ progress(iq.total, 'Общий уровень умственных способностей')|raw }}

                        <div class="mt-2">
                            {% if iq.total <= 26 %}низкий
                            {% elseif iq.total <= 36 %}ниже среднего
                            {% elseif iq.total <= 48 %}средний
                            {% elseif iq.total <= 56 %}выше среднего
                            {% else %}высокий{% endif %}
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
{% endblock result %}