{% extends 'base.html.twig' %}

{% block title %}{{ test.name(app.request.locale) }}{% endblock %}

{% block body %}
    <div class="container-xl">
        <h1>{{ test.name(app.request.locale) }}</h1>

        <p class="lead text-muted">{% trans %}Ваши результаты{% endtrans %}</p>

        {{ result|raw }}

        <div class="test__result_actions mt-5">
            <div class="mb-4">
                <div><a href="{{ path('tests.result', {'uuid': uuid}) }}" target="_blank">{% trans %}Постоянная ссылка на результат{% endtrans %}</a></div>
            </div>
            <div class="card-group">
                <div class="card">
                    <div class="card-body">
                        <a href="{{ path('tests.view', {'slug': test.slug}) }}" class="btn btn-light">{% trans %}Пройти тест ещё раз{% endtrans %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}