{% extends 'base.html.twig' %}

{% block title %}{{ test.name }}{% endblock %}

{% block body %}
    {% block stylesheets %}
        {{ parent() }}
        {{ encore_entry_link_tags('site-api') }}
    {% endblock %}
    <section class="tnc-welcome container" id="app-preload-screen">
        <h1 class="tnc-welcome__title">{{ test.name }}</h1>
        <div class="tnc-welcome__duration">{{ test.duration }} минут</div>
        <div class="tnc-welcome__description">{{ test.description|raw }}</div>
        <div class="tnc-welcome__loading stage"></div>
    </section>
    <div id="testonomica_app"
         data-test="{{ test.id }}"
{#         data-token="SOME_PUBLIC_TOKEN"#}
         data-init="auto"
         data-host="{{ host }}">
    </div>
    {% block javascripts %}
        {{ parent() }}
        {{ encore_entry_script_tags('site-api') }}
    {% endblock %}
    <script>
        // removes preload screen on App load.
        window.testonomica.addEventListener('loaded', function () {
            document.getElementById('app-preload-screen').remove();
        });
    </script>
{% endblock %}
