{% extends 'base.html.twig' %}

{% block title %}{{ test.name }}{% endblock %}

{% block body %}
    <div id="test-screens-wrapper" class="lite">
        <section id="test__preview-screen"
                 class="container"{% if status == 'finished' %} style="display: none"{% endif %}>
            <form method="post" id="test__start-form">
                <input type="hidden" name="test" value="{{ test.id }}">
                <h1 class="test__preview-screen-h1">{{ test.name }}</h1>
                <div>
                    <div class="test__preview-screen-duration">
                        <span class="material-icons">access_time</span> {{ test.duration }} минут
                    </div>
                    <div class="test__description">{{ test.description|raw }}</div>
                    <div class="test__preview-screen-buttons">
                        {% if status == 'progress' %}
                            <a href="#" class="btn btn-info btn-lg btn-pill restore-test">
                                Продолжить тест</a>
                            <a href="#" class="btn btn-light btn-lg btn-pill start-test">
                                Начать сначала <span class="material-icons">replay</span></a>
                        {% else %}
                            <a href="#" class="btn btn-info btn-lg btn-pill start-test">Пройти тест</a>
                        {% endif %}
                    </div>
                </div>
            </form>
        </section>
        <section id="test__ajax-screen">
            {% block resultBody %}{% endblock resultBody %}
        </section>
    </div>
{% endblock %}
