{% extends 'base.html.twig' %}

{% block title %}{{ test.name }}{% endblock %}

{% block body %}
    {% include "_components/edit_button.html.twig" with {
        'link': path('admin.tests.edit', {id: test.id}),
    } %}
    {% block stylesheets %}
        {{ parent() }}
        {{ encore_entry_link_tags('test') }}
        {% if app.environment == 'dev' %}
            <link rel="stylesheet" href="http://tn_widget/build/main.css">
        {% else %}
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/davidtema/testonomica_widget@3.0.0/build/main.css">
        {% endif %}
    {% endblock %}
    <section class="tnc-welcome container" id="app-preload-screen">
        <h1 class="tnc-welcome__title">{{ test.name(app.request.locale) }}</h1>
        <div class="tnc-welcome__duration">{{ test.duration }} {% trans %}минут{% endtrans %}</div>
        <div class="tnc-welcome__description">{{ test.description(app.request.locale)|raw }}</div>
        {% if (test.authors|length > 0) %}
            <div class="tnc-welcome__authors">{{ test.authors|length == 1 ? 'Автор теста:'|trans : 'Авторы теста:'|trans }}
                {% for author in test.authors %}<a
                    href="{{ path('tests.author', { slug: author.slug }) }}">{{ author.name(app.request.locale)|raw }}</a>{{ not loop.last ? ', ' }}{{ loop.last ? '.' }}{% endfor %}
            </div>
        {% endif %}
        <div class="tnc-welcome__loading stage"></div>
    </section>
    <style>
        #testonomica_app {
            padding: 0;
        }

        .tnc-welcome {
            position: relative;
        }

        .tnc-welcome__btn {
            background: #5c5fef;
            border-color: #5c5fef;
        }

        .tnc-welcome__btn_restart {
            background: #f8f9fa !important;
            border-color: #f8f9fa !important;
        }
    </style>
    <div id="testonomica_app"></div>
    {% block javascripts %}
        {{ parent() }}
        {{ encore_entry_script_tags('test') }}
    {% endblock %}
    {% if app.environment == 'dev' %}
        <script src="http://tn_widget/build/bundle.js"></script>
    {% else %}
        <script src="https://cdn.jsdelivr.net/gh/davidtema/testonomica_widget@3.0.0/build/bundle.js"></script>
    {% endif %}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            window.initWidget('{{ test.slug }}', '{{ host }}');
        });
    </script>
{% endblock %}
