{# This widget is to be loaded in Iframe only. The porpose is to be embed into partners website. #}
<!doctype html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Widget</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        {{ encore_entry_link_tags('test') }}
    {% endblock %}
</head>
<body>
<div id="testonomica_app"
     data-test="{{ testId }}"
     data-token="{{ token }}"
     data-init="auto"
     data-display-report="{{ displayReport }}"
     data-show-result-after-load="{{ showResultAfterLoad }}"
     data-sid="{{ sid }}"
     data-host="{{ host }}">
</div>
{% block javascripts %}
    {{ encore_entry_script_tags('test') }}
    <script>
        window.parent.postMessage({name: 'inline'}, '*');
        // // notify parent window about height change.
        // testonomica.addEventListener('resize', function (e) {
        //     let rect = e[0].contentRect;
        //     let height = rect.height;
        //     window.parent.postMessage({name: 'frameHeight', frameHeight: height}, '*');
        // });
    </script>
{#    <script src="https://widget.cloudpayments.ru/bundles/cloudpayments/"></script>#}
{% endblock %}
</body>
</html>

